{% extends '_base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'order/css/style_order_detail.css' %}">
{% endblock %}

{% block title %}
    Details Order - CheckOut Page
{% endblock %}

{% block messages %}
    {% include 'incs/messages.html' %}
{% endblock %}



{% block content %}
    {% include 'details_order_content.html' %}



{% endblock %}



{% block sctipts %}
    <script src={% static 'order/scripts/scripts_order_detail.js' %}></script>

{% endblock %}