{% load static %}

  <!-- footer -->

    <section>
      <div class="back_graound">
        <div class="content_footer">
          <h3>Address</h3>
          <br />
          <p>
            <i id="pad_white" class="fa-solid fa-location-dot"></i>123 Street,
            New York, USA
          </p>
          <p><i id="pad_white" class="fa-solid fa-phone"></i>+012 345 67890</p>
          <p>
            <i id="pad_white" class="fa-solid fa-envelope"></i>info@example.com
          </p>
          <div>
            <i id="logo_border" class="fa-brands fa-instagram"></i>
            <i id="logo_border" class="fa-brands fa-linkedin"></i>
            <i id="logo_border" class="fa-brands fa-youtube"></i>
            <i id="logo_border" class="fa-brands fa-twitter"></i>
          </div>
        </div>
        <div class="content_footer">
          <h3>Services</h3>
          <br />
          <a href="#"
            ><i id="pad_white" class="fa-solid fa-caret-right"></i>Cardialogy</a
          >
          <a href="#"
            ><i id="pad_white" class="fa-solid fa-caret-right"></i>Pulmonary</a
          >
          <a href="#"
            ><i id="pad_white" class="fa-solid fa-caret-right"></i>Neurology</a
          >
          <a href="#"
            ><i id="pad_white" class="fa-solid fa-caret-right"></i>orthopedi</a
          >
          <a href="#"
            ><i id="pad_white" class="fa-solid fa-caret-right"></i>Laboratory</a
          >
        </div>
        <div class="content_footer">
          <h3>Quick Links</h3>
          <br />
          <a href="#"
            ><i id="pad_white" class="fa-solid fa-caret-right"></i>About Us</a
          >
          <a href="#"
            ><i id="pad_white" class="fa-solid fa-caret-right"></i>Contact Us</a
          >
          <a href="#"
            ><i id="pad_white" class="fa-solid fa-caret-right"></i>Our
            Services</a
          >
          <a href="#"
            ><i id="pad_white" class="fa-solid fa-caret-right"></i>Terms and
            cindition</a
          >
          <a href="#"
            ><i id="pad_white" class="fa-solid fa-caret-right"></i>Support</a
          >
        </div>

        <div class="content_footer">
          <h3>Newsletter</h3>
          <br />
          <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
          <br />

          <div class="input_search">
            <input
              id="input_search_email"
              type="email"
              placeholder="Your Email"
            /><span id="blue_btn">Sign Up</span>
          </div>
        </div>
      </div>
    </section>