@font-face {
    font-family: iransans;
    src: url('../../../fonts/eot/IRANSansWeb_Bold.eot') format("eot"),
    url("../../../fonts/woff2/IRANSansWeb.woff2") format("woff2"),
    url("../../../fonts/woff/IRANSansWeb.woff") format("woff"),
    url("../../../fonts/ttf/IRANSansWeb.ttf") format("ttf");
}


.container_forms {
    display: flex;

}

.container_forms_left {
    display: flex;
    width: 50rem;
    height: 100vh;
    background-repeat: repeat;
    background-image: url("../../media/main-part/image-efhrw3op.png");
    align-items: center;
    justify-content: center;
    color: #0c067c;
    font-size: 15rem;
}

.container_forms_left h1 {
    font-size: 5rem;

}

.container_forms_right h2, h5 {
    color: #0c067c;
}

.container_forms_right {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 50rem;
    align-items: start;
    justify-content: center;

}

.create_new_account {
    display: flex;
    gap: 1rem;
}

.btn {
    display: flex;
    padding: .5rem 4rem;
    background-color: #0c067c;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #067c72;
    color: white;
}

a {
    /*text-decoration: none;*/
    color: gray;
    font-weight: bolder;

}