{% extends '_base.html' %}
{% load static %}

{% block css %}
    {#    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">#}
    {#    <link rel="stylesheet" href="{% static 'home/css/_base.css' %}">#}
    <link rel="stylesheet" href="{% static 'home/css/accounts/password_reset_form.css' %}">
{% endblock %}


{% block title %}
    Login Page
{% endblock %}

{% block messages %}
    {% include 'incs/messages_without_navbar.html' %}
{% endblock %}



{% block content %}
    <div class="container_forms">
        <div class="container_forms_left">
            <h1>Renovative Design</h1>
        </div>
        <div class="container_forms_right">


            <div class="create_new_account"><h5>Change Password with By Massage: </h5>
                <a class="btn_a" href="{% url 'accounts:change_password' %}"> Click Here </a>
            </div>
            <hr>
            <div><h5>Change Password with By Email:</h5>
                <form class="create_new_account" action="" method="post" novalidate class="col-md-4">
                    {% csrf_token %}
                    {{ form }}
                    <input class="btn" type="submit" value="Send">
                </form>
            </div>
        </div>
    </div>




{% endblock %}