{% extends '_base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'home/css/accounts/password_reset_complete.css' %}">
{% endblock %}


{% block title %}
    Login Page
{% endblock %}


{% block messages %}
    {% include 'incs/messages_without_navbar.html' %}
{% endblock %}


{% block content %}
    <div class="container_forms">
        <div class="container_forms_left">
            <h1>Renovative Design</h1>
        </div>
        <div class="container_forms_right">

            <h2>Password Changed Successfully <br/></h2>
            <a class="btn" href={% url 'accounts:login' %} >Return to Log-in</a>


        </div>
    </div>


{% endblock %}